:root {
  /* shapes color */
  --yellow: #FFDC60;
  --pink: #FAB8C4;
  --blue: #5956E9;
  --red: #C75C6F;
  --light-green: #90D0B1;
  --primary-font-color: #292930;
  --white: #fff;
  --dim: #979797;
  --main-font: 'Poppins';
  --header-font: 'Samsung Sharp Sans';
  --sub-font: 'Gilroy Light';
  --sup-font: 'Gilroy';
  --regular-font: normal;
  --thin-font: 100;
  --light-font: 300;
  --medium-font: 500;
  --semi-bold-font: 600;
  --bold-font: bold;
  --extra-bold-font: 800;
}

html {
  overflow-x: hidden;
}

.hero header {
  padding: 20px 0 0 0;
}

.pos-abs {
  position: absolute;
}

#hero {
  background-image: url(../img/homepage/istWalpaper.png);
  height: 130%;
}


#hero {
  max-height: 1800px;
}
#light-bulb {
  background-image: url(../img/homepage/secondWalpaper.png);
}

#business_plan {
  background-image: url(../img/homepage/thirdwalpaper.png);
}

#what_we_do {
  background-image: url(../img/homepage/Fourthwalpaper.png);
}

#our_secret {
  background-image: url(../img/homepage/fifthwalpaper.png);
}

#download {
  background-image: url(../img/homepage/sixthwalpaper.png);
}

#section15 {
  background-image: url(../img/homepage/seventhwalpaper.png);
}

#slidersectionn {
  background-image: linear-gradient(rgb(247, 246, 255), rgb(247, 243, 255));
}


#herorr, #light-blub, #businessPlain, #what-we-do, #our-secret {
  background-color: rgb(240, 242, 255);
  opacity: 0.9;
}

.cirlce-pink {
  background: rgba(250, 184, 196, 0.18);
  width: 26.25vw;
  height: 26.25vw;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1240px;
  }
}

video {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/homepage/hero.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.shapes-container .figure {
  position: absolute;
  z-index: 999;
}

.shapes-container {
  z-index: -1;
  height: auto !important;
  position: relative;
  right: 90px;
  width: 100%;
  height: 100%;
  margin-top: -50px;
}

.shapes-container .shape {
  left: auto;
  position: absolute;
  border-radius: 50%;
}

nav li a {
  padding: 0 30px;
  font-family: var(--sub-font);
}

nav .active {
  color: #000 !important;
  position: relative;
}

nav .active::after {
  background-color: #5956E9;
  content: '';
  display: block;
  height: 2px;
  bottom: -5px;
  position: absolute;
  width: 30px;
  margin-left: 30px;
}

.mini-heading {
  font-family: var(--sub-font);
  font-size: 27px;
  letter-spacing: -0.03em;
  color: #4C40F7;
}

h2 {
  font-family: var(--header-font);
  font-weight: 900;
  font-size: 5.45vw;
  color: #0C0906;
}

h3 {
  font-family: var(--header-font);
  font-weight: var(--semi-bold-font);
  font-size: 3vw;
  color: #0C0906;
}

h4 {
  font-family: var(--header-font);
  font-weight: var(--semi-bold-font);
  font-size: 2.5vw;
  color: #0C0906;
}

h5 {
  font-family: var(--header-font);
  font-weight: var(--semi-bold-font);
  font-size: 1.8vw;
  color: #0C0906;
}

h6 {
  font-family: var(--header-font);
  font-weight: var(--semi-bold-font);
  font-size: 1.3vw;
  padding: 0;
  color: #0C0906;
}

p {
  font-family: var(--main-font);
  font-weight: var(--regular-font);
  font-size: 15px;
  line-height: 30px;
}

.underlined {
  background: url("../img/title-underline.png");
  background-position: bottom center;
  background-size: 85% 1vw;
  background-repeat: no-repeat;
}

.text-header {
  font-size: 6.5vw;
  line-height: 7vw !important;
  font-family: var(--header-font);
  font-weight: var(--extra-bold-font);
  padding: 0;
  color: #0C0906;
}

.text-header .underlined {
  background: url("../img/title-underline.png");
  background-position: bottom center;
  background-size: 85% 1vw;
  background-repeat: no-repeat;
  background-position-y: 5.8vw;
}

.text-header-medium {
  font-family: var(--header-font);
  line-height: 4.5vw !important;
  font-weight: var(--extra-bold-font);
  padding: 0;
  font-size: 4vw;
  color: #0C0906;
}

.text-header-medium .underlined {
  background: url("../img/title-underline.png");
  background-position: bottom center;
  background-size: 85% 1vw;
  background-repeat: no-repeat;
  background-position-y: 4.4vw;
}

.sub-title, .sub-header {
  font-family: var(--sub-font);
  font-weight: var(--semi-bold-font) !important;
  font-size: 25px;
  line-height: 40px;
  color: #3C3E42;
}

.text-center {
  text-align: center;
}

.bg-purple {
  background: #5575E8 !important;
}

.logo img {
  width: 150px !important;
}

.web-btn {
  box-shadow: 0px 34px 74px -23px #5575E8;
}

.web-btn:hover {
  filter: brightness(95%);
  color: #fff;
}

.hero header .web-btn {
  width: 250px;
  height: 65px;
}

.btn-medium {
  font-family: var(--sub-font);
  font-size: 18px;
  padding: 30px 250px;
}

.excess {
  padding: 0px 5vw;
}

.full {
  background-size: 100% 1vw !important;
}

.vertically-align-container {
  display: flex;
  vertical-align: middle !important;
  height: 100% !important;
}

.vertically-align {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.full-width {
  width: 100%;
}

/* Global */

#global {
  padding: 5rem 0;
  position: relative;
}

#global .text-header-medium {
  margin-bottom: 2vw;
}

#global .globe {
  width: 30vw;
  margin: auto 0;
}

/* Footer */

#footer {
  padding: 8vw 0;
  position: relative;
}

#footer .bubble-message {
  width: 8vw;
  left: 8vw;
  top: -5vw;
}

#footer .text-header-medium {
  margin-bottom: 2vw;
}

#footer .lets-chat {
  margin-bottom: 4vw;
}

#footer .contact-details {
  font-weight: 600;
  font-family: var(--sub-font);
  margin-bottom: 3vw;
}

#footer .contact-details div {
  padding: 5px 30px;
}

#footer .contact-details img {
  height: 40px;
  margin-bottom: -15px;
}

#footer .float-left {
  text-align: left;
}

#footer .float-right {
  text-align: right;
}

#footer .credit-box {
  margin-top: 70px;
  margin-bottom: 20px;
}

#footer .credit {
  font-family: var(--sub-font);
  margin: 0 auto;
  font-weight: 600;
}

#footer .social-details {
  margin-bottom: 100px;
  text-align: center;
  font-family: var(--sub-font);
}

#footer .social-details .active, #footer .social-details .social-box:hover {
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 0px 25px 15px 0px rgba(13, 90, 153, 0.25);
  -moz-box-shadow: 0px 25px 15px 0px rgba(13, 90, 153, 0.25);
  box-shadow: 0px 25px 15px 0px rgba(13, 90, 153, 0.25);
}

#footer .social-details .fa {
  font-size: 30px;
  margin-right: 5px;
}

#footer .social-details .social-box {
  padding: 40px 0px;
}

#footer .social-details .social-box .fa-facebook-square {
  color: #4263D8;
}

#footer .social-details .social-box .fa-instagram {
  color: #EB7847;
}

#footer .social-details .social-box .fa-twitter-square {
  color: #48BDFF;
}

#footer .social-details .social-box .fa-linkedin-square {
  color: #0E60C0;
}

#footercontainer {
  margin-bottom: -100px;
}

.rotate {
  animation: rotation 30s infinite linear;
}

/* ========================Changes ========================== */

/* ===---------------------Section 1------------------==== */

#awards {
  margin-top: -10px;
}

#award-title {
  font-size: 18px;
}

#logos {
  margin-left: 100px;
}

#backgroundd {
  position: absolute;
  left: 940px;
  top: 160px;
}

#S1yellowball {
  margin-top: 50px;
  margin-left: 230px;
}

.circle-1 {
  margin-left: 250px;
}

#circle-2 {
  margin-top: 380px;
}

#cubepic {
  margin-left: 120px;
}

#rocketman {
  position: absolute;
  left: 860px;
  top: 90px;
}

#flowerpic {
  position: absolute;
  left: 1200px;
  top: 240px;
}

#mousepic {
  margin-top: 80px;
  margin-left: -150px;
}

@media only screen and (max-width: 500px) {
  #pinlling {
    display: none;
  }
  .pinlling {
    display: none;
  }
}

@media only screen and (min-width: 500px) {
  #mobileversion {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #mobileHmainheading {
    position: relative;
    right: 150px;
    left: -10px;
    top: -50px;
  }
  #navigations {
    display: none;
  }
  #MS1yellowball {
    margin-top: 30px;
    margin-left: 5px;
    min-width: 80px;
  }
  #Mrocketman {
    position: relative;
    left: 80px;
    top: -30px;
    min-width: 250px;
  }
  #Mbackground {
    position: absolute;
    left: 160px;
    top: 65px;
    min-width: 170px;
  }
  #Mflowerpic {
    position: absolute;
    left: 320px;
    top: 115px;
    min-width: 60px;
  }
  #Mcubepic {
    position: absolute;
    left: 50px;
    top: 215px;
    min-width: 100px;
  }
  #mousepics {
    position: relative;
    left: 320px;
    top: 255px;
    min-width: 110px;
  }
  #award-titl {
    font-size: 14px;
  }
  #mobilecircleone {
    min-width: 150px;
    height: 150px;
    margin-left: 100px;
  }
  #awardsimages {
    height: 100px;
    min-width: 300px;
    margin-top: 30px;
    margin-left: -90px;
  }
  #herorr, #light-blb, #MbusinessPlain, #what-we-do, #our-secret, #Mdownload {
    background-color: rgb(240, 242, 255);
    opacity: 0.9;
  }
  #light-bulb {
    margin-top: -1650px;
  }
  #Mcircle-2{
    border-radius: 50%;
    min-width: 800px;
    min-height: 800px;
   position: absolute;
    left: 100px;
  }







  #S2lamppics {
    min-width: 190px;
    margin-top: 200px;
    margin-right: 10px;
  }
  #Mbucket {
    position: relative;
    top: 30px;
    margin-left: 10px;
  }
  #Mheart {
    position: absolute;
    top: 160px;
    right: 250px;
  }
  #Mcircle-2 {
    min-width: 200px;
    min-height: 200px;
    margin-top: 140px;
    margin-right: 200px;
  }
  #S3turnouts {
    font-size: 15px;
    margin-bottom: -70px;
  }
  #MbusinessPlain {
    max-height: 1300px;
  }
  #S3line {
    max-width: 3px;
    position: absolute;
    top: -90px;
    left: -90px;
  }
  #Mgossypink {
    min-width: 200px;
    height: 200px;
    margin-left: 470px;
  }
  #Mgossygreen {
    min-width: 200px;
    height: 200px;
    margin-bottom: 198px;
    margin-left: 470px;
  }
  #MS3blueball {
    margin-left: 650px;
    min-width: 60px;
    height: 60px;
    position: absolute;
    top: 450px;
  }
  #MS3cube {
    max-height: 70px;
    top: -160px;
    position: relative;
    left: 400px;
  }
  #MS3cubeplay {
    max-width: 40px;
    position: absolute;
    top: 550px;
    right: -210px;
  }
  #MS3greencube {
    width: 250px;
    margin-top: -350px;
    margin-left: 550px;
  }
  #MS3keyboard {
    min-width: 180px;
    max-height: 25px;
    position: relative;
    left: 440px;
    top: -100px;
  }
  #MS3shadow {
    position: relative;
    left: 540px;
    top: -220px;
    max-width: 150px;
  }
  #gossygreen {
    position: relative;
    right: 340px;
    top: 250px;
    max-height: 190px;
    min-width: 190px;
  }
  .btn-medium {
    position: relative;
    top: -150px;
  }
  #whatdo-folder {
    max-height: 300px;
    margin-left: 110px;
  }
  #S11cube {
    max-height: 10px;
    margin-left: 140px;
  }
  #whatdo-cup {
    max-height: 80px;
    margin-top: 200px;
    margin-left: 320px;
  }
  #whatdo-key {
    max-height: 80px;
    margin-left: 315px;
    margin-top: 120px;
  }
  #whatdo-mask {
    max-height: 120px;
    margin-left: 120px;
  }
  #secretmans {
    max-width: 420px;
    margin-left: -130px;
  }
  #contentofcard {
    font-weight: 700;
    font-size: 17px;
    line-height: 19.04px;
  }
  #whatheading {
    font-size: 25px;
  }
}
@media only screen and (max-width: 400px) {
  #Mcircle-2{
    min-width: 200px;
    min-height: 200px;
   position: absolute;
  }
  
}

@media only screen and (max-width: 470px) {
  #MS3cubeplay {
    margin-right: -30px;
  }
}

@media only screen and (max-width: 480px) {
  #MS3keyboard {
    left: 420px;
  }
}

@media only screen and (max-width: 450px) {
  #awardsimages {
    margin-left: -110px;
  }
  #MS3keyboard {
    left: 410px;
  }
  #Mcircle-2{
    min-width: 200px;
    min-height: 200px;
   position: absolute;
    left: 50px;
  }
}

@media only screen and (max-width: 435px) {
  #MS3keyboard {
    left: 490px;
  }
}

@media only screen and (max-width: 420px) {
  #MS3keyboard {
    left: 475px;
  }
  #MS3cubeplay {
    margin-right: -50px;
  }
}

@media only screen and (max-width: 410px) {
  #S2lamppics {
    margin-top: 180px;
  }
  #Mbackground {
    margin-left: -20px;
  }
  #Mrocketman {
    margin-left: -20px;
  }
  #mousepics {
    margin-left: -20px;
  }
  #Mflowerpic {
    margin-left: -20px;
  }
  #exactmain {
    margin-left: -30px;
  }
  #secretmans {
    margin-left: -100px;
    width: 370px;
  }
  #awardsimages {
    margin-left: -125px;
  }
  #MS3cubeplay {
    margin-right: -70px;
  }
}

@media only screen and (max-width: 420px) {
  #glossyies {
    margin-left: -20px;
  }
}

@media only screen and (max-width: 380px) {
  #S2lamppics {
    margin-top: 170px;
    margin-right: -40px;
  }
  #MS3keyboard {
    left: 460px;
  }
  #exactmain {
    margin-left: -50px;
  }
}

@media only screen and (max-width: 370px) {
  #MS3blueball {
    margin-top: 20px;
    margin-left: 615px;
  }
  #award-titl {
    font-size: 13px;
  }
  #MS3cubeplay {
    margin-right: -90px;
  }
  #awardsimages {
    margin-left: -145px;
  }
  #S3turnouts {
    font-size: 12px;
  }
  #glossyies {
    margin-left: -30px;
  }
}


@media (min-width: 1000px) and (max-width: 2750px) {
  #footer {
    margin-top: 280px;
  }
  #pushleft {
    margin-left: -300px;
  }
  #pushright {
    position: relative;
    left: 310px;
  }
  #pushleftbottom {
    margin-top: 80px;
    margin-left: -370px;
  }
  #pushleftcenter {
    margin-top: 80px;
    margin-left: 400px;
  }
  #logos {
    min-width: 80px;
    margin-top: 70px;
  }
  #circle-top1 {
    margin-top: -150px;
  }
  #S1yellowball {
    margin-top: -50px;
    margin-left: -105px;
    min-width: 80px;
  }
  #rocketman {
    position: absolute;
    left: 870px;
    top: 30px;
    min-width: 250px;
  }
  #backgroundd {
    position: absolute;
    left: 1050px;
    top: 150px;
    min-width: 170px;
  }
  #flowerpic {
    position: absolute;
    left: 1450px;
    top: 300px;
    min-width: 60px;
  }
  /* =============================================================== */
  #S2bucketpic {
    position: relative;
    top: -300px;
    margin-top: -340px;
    min-width: 150px;
    margin-left: 20px;
  }
  #heart {
    position: absolute;
    right: 730px;
    top: -130px;
    max-width: 140px;
  }
  #hearts {
    position: absolute;
    right: 930px;
    top: -370px;
    max-width: 300px;
  }
  #S2lamppicc {
    min-width: 200px;
    margin-top: 100px;
    margin-right: 680px;
    position: relative;
    left: 940px;
    top: -200px;
  }
  #circlelight-2 {
    position: absolute;
    left: 730px;
  }
  #S2flowerpicc {
    margin-top: 220px;
    position: relative;
    right: 270px;
    top: -210px;
  }
  #S3turnouts {
    font-size: 15px;
    margin-bottom: -70px;
  }
  #gaptopof {
    margin-top: -260px;
    margin-left: 450px;
  }
  /* ================================================== */
  #S3topcontent {
    font-size: 45px;
    margin-top: -780px;
    margin-left: 400px;
  }
  #S3topcontents {
    font-size: 45px;
    margin-top: -550px;
    margin-left: 400px;
  }
  #onlypushleft {
    margin-top: -100px;
    margin-left: -500px;
  }
  #pushtocenter {
    margin-left: 650px;
  }
  #S3blueball {
    height: 150px;
    max-width: 150px;
    position: absolute;
    left: 1000px;
  }
  #S3line {
    position: relative;
    top: 100px;
    left: 200px;
  }
  #yellowdowncube {
    height: 255px;
    min-width: 240px;
    margin-left: -1000px;
    margin-top: 330px;
  }
  #S3cubepla {
    position: relative;
    margin-left: -630px;
    margin-top: 530px;
    max-width: 220px;
  }
  #S3greencube {
    position: absolute;
    top: 220px;
    left: 900px;
    width: 30px;
  }
  #S3keyboard {
    max-height: 60px;
    max-width: 300px;
    position: absolute;
    top: 700px;
    left: 420px;
  }
  #S3shadow {
    position: absolute;
    top: 580px;
    left: 510px;
  }
  #glossy-green {
    position: relative;
    right: 140px;
    top: 630px;
    min-height: 600px;
    min-width: 600px;
  }
  #glossy-pink {
    position: relative;
    right: 10px;
    top: 0px;
    min-height: 600px;
    min-width: 600px;
  }
  #S3topcontent {
    margin-bottom: 370px;
  }
  #glossygreeen {
    margin-left: 270px;
    margin-top: -200px;
    min-width: 500px;
    min-height: 500px;
  }
  #glossypink {
    max-width: 100px;
    max-width: 680px;
    min-height: 500px;
    position: relative;
    top: -190px;
  }
  #S3cubeplay {
    max-width: 90px;
  }
  #S4mancheckerpic {
    margin-right: -100px;
  }
  #S4filespic {
    margin-top: -30px;
    margin-left: 390px;
  }
  #S4listingpic {
    margin-left: 330px;
    margin-top: -25px;
  }
  #S4messagepic {
    margin-right: 210px;
  }
  #S4blueballpic {
    max-width: 150px;
    margin-top: 500px;
    position: absolute;
    left: 500px;
    margin-right: 500px;
  }
  #S4cubepic {
    margin-left: 350px;
    margin-top: 30px;
  }
  #redcylinder {
    margin-top: 30px;
    margin-left: -600px;
  }
  #greencylinder {
    margin-top: 40px;
    margin-right: -690px;
  }
  #marketcompas {
    margin-left: -660px;
  }
  #marketgraph {
    margin-right: -700px;
  }
  #pushlefttop {
    margin-left: 430px;
    margin-top: -500px;
  }
  #pushleft-top {
    margin-left: 100px;
    margin-top: -500px;
  }
  #whatexacfolder {
    min-width: 800px;
    margin-left: 110px;
  }
  #whatexaccubes {
    max-width: 250px;
    margin-left: 140px;
    margin-top: 200px;
  }
  #whatexaccup {
    max-width: 200px;
    margin-top: 200px;
    margin-left: -370px;
  }
  #whatexackeys {
    min-width: 220px;
    margin-left: -350px;
    margin-top: 90px;
  }
  #whatexacmask {
    max-width: 200px;
    margin-left: -120px;
  }
  #compatetierpiccenter {
    margin-top: -130px;
    margin-left: 260px;
  }
  #btnpushtop {
    margin-top: -160px;
  }
  #pushrightts {
    margin-right: -180px;
  }
  #pushleftt {
    margin-top: -150px;
    margin-right: 840px;
  }
  #awardlogos {
    margin-left: -110px;
  }
}

#heart {
  position: absolute;
  right: 730px;
  top: 130px;
  max-width: 140px;
}

@media only screen and (max-width: 385px) {
  #secretman {
    width: 300px;
  }
}

#headerlogo {
  margin-top: -12px;
  margin-left: 1px;
}


/* ==============================Section 2 ================ */

#S2flowerpic {
  margin-top: 185px;
  margin-left: 150px;
}

#S2lamppic {
  margin-top: 175px;
  margin-right: 60px;
}

#S2bucketpic {
  position: relative;
  right: -150px;
  top: 100px;
}

/* ==============================Section 3 ================ */

.business-scene {
  height: 380px;
  min-width: 520px;
  position: relative;
  top: -70px;
}

.business-scenes {
  position: relative;
  top: 340px;
  margin-left: 350px;
  margin-top: -700px;
  height: 380px;
  min-width: 520px;
}

#S3buisnesspic {
  margin-left: 95px;
}

#S3topcontent {
  font-size: 45px;
  margin-top: -10px;
}

#S3turnout {
  margin-top: -20px;
}

#S3turnou {
  margin-bottom: -70px;
  font-size: 20px;
}

#S3cube {
  height: 170px;
  min-width: 170px;
  margin-left: -330px;
  margin-top: 170px;
}

#S3cubeplay {
  margin-left: -60px;
  margin-top: 270px;
}

#S3blueball {
  margin-right: -110px;
  margin-top: -10px;
}

#S3greencube {
  min-width: 500px;
  margin-top: 49px;
}

#S3rhand {
  margin-right: 90px;
}

#S3lhand {
  margin-left: 80px;
  margin-top: 20px;
}

.lets-chat {
  margin-top: -30px;
}

.lets-chats {
  margin-top: 10px;
}

#S3keyboard {
  height: 60px;
  min-width: 370px;
  margin-right: 180px;
}

#S3line {
  margin-right: -200px;
  min-width: 1100px;
  margin-top: 90px;
}

#S3shadow {
  min-width: 250px;
  margin-bottom: 40px;
  margin-right: 220px;
}

.chat-btun {
  font-family: var(--sub-font);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 150px;
  border-radius: 7px;
}

.chat-button {
  font-family: var(--sub-font);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 150px;
  border-radius: 7px;
  margin-top: 30px;
}

/* ==============================Section 4 ================ */

#S4mancheckerpic {
  margin-right: -230px;
}

#S4boll {
  margin-top: 3px;
  margin-left: 350px;
}

#S4filespic {
  position: absolute;
  top: 450px;
  margin-top: -30px;
  margin-left: 400px;
}

#S4listingpic {
  min-width: 460px;
  min-height: 460px;
  margin-left: 190px;
  margin-top: -29px;
}

#S4messagepic {
  margin-bottom: 35px;
  margin-right: -180px;
}

#S4blueballpic {
  margin-right: 120px;
}

#S4cubepic {
  margin-left: 350px;
  margin-top: 30px;
}

/* ==============================Section 5 ================ */

#S5istcrcl {
  width: 50px;
  margin-top: 20px;
  margin-left: 10px;
}

#S5scdcrcl {
  margin-right: 120px;
  margin-top: 50px;
}

/* ==============================Section 6 ================ */

#letschatbtn {
  margin-left: -50px;
  margin-top: -30px;
  margin-bottom: -200px;
  padding: 30px 250px;
  border-radius: 7px;
}

#S6sim {
  position: relative;
  left: 190px;
}

#S6coin {
  margin-left: 240px;
  margin-top: 40px;
}

#S6phone {
  margin-right: -150px;
}

#S6cube {
  margin-right: -80px;
  margin-top: 10px;
}

#S6files {
  margin-left: 70px;
}

#S6yellowball {
  margin-top: 84px;
  margin-left: 150px;
}

/* ==============================Section 7 ================ */

#userExpRhand {
  margin-right: 130px;
}

/* ==============================Section 8 ================ */

.text-header-medim {
  font-family: var(--header-font);
  line-height: 5vw !important;
  font-weight: var(--extra-bold-font);
  padding: 0;
  font-size: 3.5vw;
  color: #0C0906;
}

/* ==============================Section 9 ================ */

.chat-bttun {
  position: absolute;
  bottom: 9px;
  right: 500px;
  font-family: var(--sub-font);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 150px;
  border-radius: 7px;
  margin-right: 160px;
}

.chaat-bttun {
  position: absolute;
  bottom: 9px;
  right: 500px;
  font-family: var(--sub-font);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 150px;
  border-radius: 7px;
  margin-right: 160px;
  margin-bottom: 30px;
}

#S9cube {
  position: absolute;
  top: 320px;
  margin-left: 70px;
}

#topheading {
  margin-top: 33px;
}

#S9rhand {
  margin-top: -10px;
  margin-right: 40px;
}

#S9megaphone {
  margin-left: 80px;
  margin-bottom: 40px;
}

/* ==============================Section 10 ================ */

#S10cloudone, #S10cloudtwo {
  margin-left: 180px;
  margin-top: -10px;
}

#S10triangle {
  position: absolute;
  top: 100px;
}

#S10search {
  position: absolute;
  left: 550px;
  top: 320px;
}

#S10msg {
  margin-left: 200px;
}

#S10rocket {
  position: relative;
  right: -100px;
}

/* ==============================Section 11 ================ */

#S11cube {
  margin-top: 20px;
  margin-right: 230px;
}

/* ==============================Section 12 ================ */

#S12man {
  position: relative;
  left: 150px;
}

#S12code {
  position: absolute;
  top: 200px;
  margin-right: -120px;
}

#S12bucket {
  margin-left: 300px;
}

#S12yellowball {
  margin-left: 500px;
  margin-top: -10px;
}

/* ==============================Section 14 ================ */

#globes {
  max-width: 500px;
  max-height: 500px;
}

.credit-box {
  position: relative;
  top: -70px;
}

/* ================================-----Clients----------================= */

#clientyellowball {
  min-height: 150px;
  min-width: 150px;
  margin-left: 200px;
  margin-top: 20px;
}

#clientcube {
  margin-top: 53px;
}

#clientline {
  margin-top: 50px;
}

#clientslogos {
  height: 60px;
  max-width: 100px;
}

#logosofclient {
  margin-left: -250px;
  min-width: 1700px;
}

#designyellowball {
  margin-right: 60px;
  margin-top: 30px;
}

#designcube {
  margin-left: 270px;
  margin-top: 60px;
}

#clientsglobe {
  margin-right: -200px;
}

#footer {
  margin-top: 70px;
}

#footercontents {
  font-size: 105px;
}

.btn-mediu {
  font-family: var(--sub-font);
  font-size: 18px;
  padding: 30px 250px;
  position: relative;
  top: -130px;
}

#workmsg {
  margin-top: 40px;
}

#keyboardprotfolio {
  margin-bottom: 100px;
  margin-right: 100px;
  position: relative;
  top: -50px;
}

#protfolioproject {
  margin-right: 100px;
  position: relative;
  top: -80px;
}

#protfolioprojectt {
  margin-top: -40px;
  margin-top: 40px;
  margin-right: 100px;
  position: relative;
  top: -120px;
}

#mouseport {
  margin-top: -60px;
  margin-left: 50px;
}

#blueballport {
  margin-left: 100px;
}

#portfoliocircle {
  margin-left: 10px;
}

/* ================================---------Services-----===================== */

#serviceMcontent {
  margin-top: -30px;
}

#servicesexpert {
  position: relative;
  bottom: 15px;
}

#servicescubes {
  min-width: 250px;
  margin-top: -100px;
  margin-left: 10px;
}

#serviceslaptop {
  position: relative;
  left: 150px;
  top: -20px;
  min-width: 1100px;
}

#serviceskeyboard {
  position: relative;
  left: 170px;
  min-width: 700px;
}

#servicescubes3d {
  position: absolute;
  left: 730px;
  /* margin-right: -530px; */
  margin-top: -10px;
}

#servicespot {
  min-width: 200px;
  margin-top: -150px;
  position: relative;
  left: 620px;
}

#solutionbucket {
  margin-top: 100px;
  margin-right: -500px;
}

/* =========--------- */

#developheading {
  font-size: 107px;
}

#developsubheading {
  font-size: 30px;
}

#designsolutioncontent {
  margin-left: 40px;
}

#designsubheading {
  font-size: 40px;
}

#brandingtablet {
  margin-left: 110px;
}

#brandingvideo {
  margin-left: 100px;
}

#brandingmsg {
  margin-left: 100px;
}

#brandingRhand {
  margin-top: 10px;
  margin-left: 100px;
}

#brandingLhand {
  margin-left: 100px;
}

#brandingsimplesolution {
  position: relative;
  top: -30px;
  left: 20px;
}

#developmentlaptop {
  min-width: 1200px;
  margin-left: 98px;
}

#developmentcircle {
  margin-top: -130px;
  margin-left: -180px;
}

#developmentpic {
  margin-top: -130px;
  margin-left: -170px;
}

#developmentvolum {
  margin-top: -50px;
  margin-right: -360px;
}

#developmentclock {
  min-width: 200px;
  margin-top: -100px;
  margin-right: -350px;
}

.arrow-right {
  margin-right: -50px;
  min-width: 160px;
}

.arrow-left {
  margin-right: -50px;
  min-width: 160px;
}

#buildingcubes {
  margin-left: 100px;
}

#building {
  position: relative;
  right: -100px;
}

#buildingyelball {
  margin-right: -40px;
}

#startupheadings {
  font-size: 80px;
}

/* ==============================++CLients++-----------======= */

#clientslove {
  font-weight: bold;
  margin-top: -110px;
  font-size: 25px;
}

#clientsyellowball {
  margin-left: 170px;
}

#clientsheading {
  margin-bottom: 20px;
  font-size: 110px;
}

#clientslovetext {
  margin-left: 50px;
}

#clientsloveheart {
  position: absolute;
  top: 30px;
}

#clientsmsg {
  margin-right: 100px;
}

#gapfromrht {
  margin-left: 17px;
  max-width: 28%;
}

#clientsheadin {
  font-size: 80px;
}

#istdiv {
  height: 380px;
  width: 250px;
  border-radius: 14px;
  background-color: #ffffff;
}

#cardtopheading {
  font-weight: bold;
  font-size: 19px;
  margin-top: 15px;
}

#playblue {
  margin-left: 70px;
  height: 100px;
}

#aiar {
  margin-top: -70px;
}

#rows {
  margin-left: 100px;
}

#rowse {
  margin-left: 100px;
  margin-top: -500px;
}

#serveddowncube {
  position: absolute;
  margin-top: -150px;
}

#servedyellowcube {
  position: absolute;
  margin-top: -50px;
  margin-left: 850px;
}

/* =============================================--------------contact-----================ */

#contactcircle {
  margin-left: -60px;
}

#contacttopheading {
  position: relative;
  top: -80px;
}

#contactsend {
  min-width: 150px;
  margin-left: -100px;
  margin-top: -50px;
}

#contactcup {
  margin-right: -240px;
}

#chatsheader {
  margin-top: 140px;
}

#contactplane {
  margin-left: -60px;
}

#contactmsg {
  margin-right: -300px;
}

#contactkeyboard {
  min-width: 700px;
}

#chatheading {
  font-size: 150px;
}

#contactyellowball {
  margin-left: 100px;
}

#contactcube {
  margin-right: -180px;
  margin-top: 6px;
}

#companieslogosheading {
  font-size: 120px;
}

/* =-=--=-=-==-=-=-=-=-=-=-=-=-=-=-=Process===----------------=========== */

.buisnessmaincont {
  margin-top: -900px;
}

.processkeyboard {
  margin-top: 800px;
}

.processshadow {
  margin-top: 730px;
  margin-left: -150px;
}

/* ====================================================================================================================================== */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* RESPONSIVE */

@media (max-width: 576px) {
  .container {
    padding: 0 15vw;
  }
}

@media (max-width: 768px) {
  .logo img {
    margin: 0 auto;
  }
  .navbar {
    padding: 0 !important;
  }
  ul.nav {
    display: table !important;
    margin: 1em auto !important;
    padding: 0 !important;
    text-align: justify !important;
    width: 100% !important;
  }
  .hero header .web-btn {
    height: 50px !important;
    margin-top: 1rem;
  }
  ul.nav li {
    display: table-cell !important;
    padding: 0 5px !important;
  }
  h1 {
    font-size: 11.5vw;
    line-height: 11.5vw;
    margin-top: 10vw;
  }
  h1 .underlined {
    background-position-y: 11vw;
  }
  h2 {
    font-size: 8vw;
    line-height: 8vw;
  }
  h2 .underlined {
    background-position-y: 7.5vw;
  }
  h3 {
    font-size: 6vw;
  }
  h4 {
    font-size: 5.5vw;
  }
  h5 {
    font-size: 2.8vw;
  }
  h6 {
    font-size: 3.3vw;
  }
  p {
    font-size: 4vw;
  }
  .mini-heading {
    font-size: 4vw !important;
  }
  .sub-title {
    font-size: 3.5vw;
    line-height: 5vw;
  }
  .sub-header {
    font-size: 3.5vw;
    line-height: 5vw;
  }
  .lets-chat, .btn-medium {
    width: 100% !important;
    padding: 4vw 0 !important;
  }
  .clients-logo {
    height: auto;
    padding: 30px;
  }
  .clients-container img {
    width: 70% !important;
    margin: 0 auto;
  }
  .float-left, .float-right {
    text-align: center !important;
  }
  .float-right {
    margin-bottom: 30px;
  }
  #footer {
    padding: 0 !important;
  }
  .social-details {
    margin-top: 2rem !important;
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 769px) {
  .clients-logo {
    height: 12vw;
  }
}

/* /////////////////////////////////////////////////////////// */

/* ========================------------------====================== */

/* /////////////////////////////////////////////////////////// */

#clientsfirstcircle {
  margin-top: -150px;
  margin-left: 100px;
  max-width: 450px;
  max-height: 450px;
}

#clientslovetext {
  max-width: 270px;
  margin-top: -50px;
  margin-left: -20px;
}

#clientsmsg {
  margin-top: -150px;
  margin-right: -200px;
}

#clientsyellowball {
  margin-top: -180px;
}

#clientslove {
  margin-top: -210px;
}

#clientsheading {
  font-size: 150px;
}

#subheading {
  margin-top: 60px;
  font-size: 40px;
  line-height: 3vw;
}

#clientsloveheart {
  min-width: 250px;
  margin-right: -150px;
  margin-top: -70px;
}

#clientsline {
  margin-top: -60px;
}

#gapfromrhtt {
  margin-top: -60px;
  max-width: 28%;
}

#gapfromrh {
  max-width: 28%;
  margin-left: 120px;
}

#workmsg {
  position: relative;
}

#companieslogoheading {
  font-size: 100px;
}

#talkrow {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 270px;
}

#playbutton {
  position: relative;
  top: -160px;
  right: -230px;
  max-width: 120px;
}

#playiicon {
  position: relative;
  top: -195px;
  right: -150px;
  max-width: 40px;
}

#companieslogoheading {
  font-size: 120px;
}

/* ========================================================== */

/* ========================================================== */

/* ========================================================== */

/* ===================-----------Services --------------==== */

/* ========================================================== */

/* ========================================================== */

/* ========================================================== */

#servicesimages {
  margin-top: 70px;
  margin-left: 300px;
}

#serviceMcontent {
  margin-top: 150px;
  margin-left: -360px;
}

@media only screen and (max-width: 2750px) {
  #backgroundd {
    min-width: 550px;
    margin-top: 60px;
    margin-left: 480px;
  }
  #rocketman {
    margin-left: 500px;
    min-width: 800px;
  }
  #mousepic {
    /* margin-top: 160px;
    margin-right: -480px; */
    position: absolute;
    top: 760px;
    right: -670px;
  }
  #flowerpic {
    margin-top: 130px;
    margin-left: 580px;
  }
  #cubepic {
    /* margin-left: 190px;
    margin-top: 160px; */
    position: absolute;
    top: 760px;
    left: 1100px;
  }
  #pushright {
    margin-left: 600px;
  }
  #heorocontent {
    margin-top: 250px;
  }
  #circle-top1 {
    margin-block-end: 20px;
    min-width: 630px;
    min-height: 630px;
  }
  #S1yellowball {
    margin-top: -25px;
    margin-left: 320px;
  }
  #herominiheading {
    font-size: 50px;
  }
  #heroheading {
    font-size: 130px;
  }
  #pushleftcenter {
    margin-top: 360px;
    display: flex;
    align-items: center;
    margin-left: 360px;
  }
  #award-title {
    opacity: 0.7;
    color: black;
    font-size: 35px;
  }
  #logos {
    opacity: 0.9;
    min-width: 1700px;
    min-height: 1700px;
  }
  /* ==================------------------=================== */
  #gaptopof {
    margin-top: -100px;
    position: absolute;
    left: 230px;
  }
  #S3topcontent {
    text-align: center;
    margin-left: 560px;
  }
  #gapinlights {
    position: relative;
    top: 20px;
  }
  #makingheading {
    margin-right: -220px;
  }
  #Picsofmakingbuis {
    margin-top: 150px;
  }
  #S2flowerpic {
    min-width: 700px;
  }
  #S2flowerpic {
    margin-left: -140px;
    min-width: 700px;
    margin-top: 20px;
  }
  #S2lamppic {
    margin-top: 10px;
    margin-right: -300px;
    min-width: 900px;
  }
  #S2bucketpic {
    position: relative;
    top: -170px;
    margin-bottom: 350px;
    min-width: 450px;
  }
  #heart {
    margin-top: -150px;
    margin-right: 200px;
    min-width: 250px;
  }
  #lightminiheading {
    margin-top: -600px;
    font-size: 45px;
    margin-bottom: 25px;
  }
  #lightheading {
    font-size: 140px;
    margin-bottom: 20px;
  }
  #lightsubheading {
    font-size: 42px;
  }
  /* =================================== */
  #clientsheading {
    font-size: 50px;
  }
  #S3turnou {
    font-size: 30px;
  }
  .clientsText {
    margin-right: -300px;
  }
  #glossypink {
    position: relative;
    right: -150px;
    top: -430px;
    max-width: 1000px;
    min-height: 700px;
  }
  #glossygreeen {
    position: relative;
    top: 300px;
    right: -20px;
    max-width: 897px;
    min-height: 700px;
  }
  #S3blueball {
    margin-top: 1050px;
    margin-left: 290px;
    min-width: 240px;
    min-height: 240px;
  }
  #S3line {
    position: relative;
    top: 100px;
    left: 200px;
  }
  #S3cube {
    min-height: 300px;
    min-width: 300px;
    position: relative;
    margin-left: -1100px;
    margin-top: 1200px;
  }
  #S3cubeplay {
    position: relative;
    margin-left: -730px;
    margin-top: 650px;
    min-width: 180px;
    min-height: 20px;
  }
  #S3greencube {
    margin-top: 1300px;
    position: absolute;
    left: 650px;
    min-width: 730px;
  }
  #S3keyboard {
    min-height: 60px;
    min-width: 600px;
    position: absolute;
    top: 900px;
    left: 500px;
  }
  #S3shadow {
    position: absolute;
    top: 700px;
    left: 610px;
    min-width: 400px;
  }
  #learnmorebtn {
    margin-right: -390px;
    padding: 40px 300px;
  }
  /* ==================================== */
  #S4mancheckerpic {
    margin-top: -50px;
    min-width: 1200px;
  }
  #S4boll {
    margin-left: 100px;
  }
  /* ======================================= */
  #exacfolder {
    min-width: 1000px;
  }
  #exacmask {
    max-width: 300px;
    margin-top: -60px;
    margin-left: -350px;
  }
  #exackeys {
    margin-top: 130px;
    margin-left: -380px;
    min-width: 220px;
  }
  #S11cube {
    margin-top: 140px;
    margin-right: -250px;
  }
  #exaccup {
    margin-left: -370px;
  }
  #S12bucket {
    max-width: 480px;
    margin-top: -120px;
    margin-left: 120px;
  }
  #secretcircle-1 {
    max-width: 370px;
    max-height: 370px;
    margin-top: -120px;
    margin-left: 60px;
  }
  #secretcircle-2 {
    max-width: 100px;
    max-height: 100px;
    margin-top: -200px;
    margin-left: 80px;
  }
  #S12yellowball {
    max-width: 200px;
    margin-top: -220px;
    margin-left: 310px;
  }
  #secretcircle-3 {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-right: -360px;
  }
  #S12cube {
    margin-right: -420px;
  }
  #S12code {
    margin-top: 220px;
    margin-right: -500px;
  }
  #footer {
    position: relative;
    top: -150px;
  }
  /* -==--==-=-=--=-=-=-=--=---=-=-=-=-=--==-=--=-=-=-=-=-=---=-=- */
  /* -==--==-=-=--=-=-=-=--=---=-=-=-=-=--==-=--=-=-=-=-=-=---=-=- */
  /* -==--==-=-=--=-=-=-=--=---=-=-=-=-=--==-=--=-=-=-=-=-=---=-=- */
  /* -==--==-=-=--=-=-=-=--=---=-=-=-=-=--==-=--=-=-=-=-=-=---=-=- */
  #portfoliocircle {
    margin-top: 40px;
    max-width: 550px;
    max-height: 550px;
    margin-left: -170px;
  }
  #blueballport {
    margin-top: 0px;
    max-width: 250px;
    margin-left: -120px;
  }
  #mesg {
    margin-top: -70px;
    margin-right: -310px;
  }
  #profiles {
    margin-top: -50px;
    margin-right: -300px;
  }
  #mouseport {
    margin-top: -100px;
    margin-left: -200px;
  }
  #cubeport {
    margin-top: -100px;
    margin-right: -430px;
  }
  #keyboardprotfolio {
    margin-right: -20px;
    margin-bottom: -120px;
    min-width: 800px;
  }
  #protfolioprojectt {
    font-size: 30px;
    margin-left: 150px;
  }
  #protfolioproject {
    margin-left: 110px;
  }
  #portaward {
    margin-top: 50px;
  }
  #portworkmsg {
    margin-top: -20px;
    margin-left: -250px;
  }
  #leftgo {
    min-width: 600px;
    margin-right: -600px;
  }
  #leftback {
    min-width: 1600px;
    margin-left: -500px;
  }
  #appsimages {
    height: 1100px;
  }
  #appsimage {
    height: 1140px;
  }
  #rigjtarrow {
    max-width: 150px;
  }
  #leftgoo {
    min-width: 1600px;
    margin-right: -500px;
  }
  #leftbackk {
    margin-left: -500px;
    min-width: 600px;
  }
  #letschatport {
    margin-top: -200px;
  }
  #clientline {
    margin-top: 250px;
    margin-left: 200px;
  }
  #clientyellowball {
    margin-top: -50px;
    margin-left: -300px;
  }
  #clientcube {
    margin-top: 80px;
    margin-right: -400px;
  }
  #designyellowball {
    margin-top: -80px;
    margin-right: -300px;
  }
  #designcube {
    margin-top: -100px;
    margin-left: -80px;
  }
  #clientsfirstcircle {
    margin-top: -230px;
    margin-left: 170px;
    max-width: 550px;
    max-height: 550px;
  }
  #clientslovetext {
    margin-top: -120px;
    margin-left: -60px;
  }
  #clientsmsg {
    margin-top: -290px;
    margin-right: -350px;
  }
  #clientsmaincontent {
    margin-top: -400px;
  }
  #clientsyellowball {
    margin-top: -350px;
  }
  #clientsheading {
    font-size: 120px;
  }
  #clientsloveheart {
    min-width: 200px;
    margin-right: -300px;
    margin-top: -200px;
  }
  #subheading {
    font-size: 50px;
    line-height: 3vw;
  }
  #industriesheading {
    margin-left: 120px;
  }
  #playbuttons {
    margin-left: 120px;
  }
  #globeheading {
    font-size: 130px;
  }
  #bubblemess {
    margin-bottom: -200px;
    margin-left: -200px;
  }
  #gapbtwname {
    margin-top: 80px;
  }
  #playbutton {
    max-width: 100px;
    max-height: 100px;
  }
  #playiicon {
    margin-bottom: -5px;
    margin-left: 10px;
    max-width: 30px;
  }
  #playbuttons {
    max-width: 200px;
    margin-left: 300px;
  }
  /* contact us */
  #contactcircle {
    margin-left: -250px;
  }
  #contactmsg {
    margin-right: -400px;
  }
  #contactplane {
    margin-left: -220px;
  }
  #contactsend {
    margin-top: -130px;
    margin-left: -230px;
  }
  #contactcup {
    margin-top: -80px;
    margin-right: -400px;
  }
  /* clients life cycle */
  #greencuber {
    position: relative;
    top: -2200px;
    right: -70px;
  }
  #cubedwnyellow {
    position: relative;
    top: -2000px;
  }
  #yelowplayball {
    position: relative;
    top: -1200px;
    right: -100px;
  }
  #blueballS3 {
    position: relative;
    top: -2700px;
  }
  #lifeline {
    position: relative;
    top: 500px;
    left: -500px;
  }
  #lifebtnlearn {
    margin-top: -1700px;
  }
  #buisnessscren {
    margin-top: 200px;
    min-width: 1100px;
    min-height: 900px;
    margin-left: 60px;
  }
  #buisnesscursor {
    position: relative;
    top: -1130px;
    right: -610px;
  }
  #buisnesscard {
    max-width: 400px;
    position: relative;
    top: -1000px;
    right: -760px;
  }
  #buisnesslhand {
    max-width: 400px;
    position: relative;
    top: -710px;
    right: 600px;
  }
  #buisnessrhand {
    max-width: 400px;
    position: relative;
    top: -950px;
    left: 950px;
  }
  #lifehelpingbtn {
    position: relative;
    top: -910px;
  }
  #legitcircle {
    background-color: rgb(255, 239, 240);
    margin-top: 300px;
    margin-left: 370px;
    min-width: 650px;
    min-height: 650px;
  }
  #legitman {
    margin-left: 180px;
    margin-top: -80px;
    max-width: 1000px;
  }
  #legitlist {
    max-width: 1500px;
    opacity: 0.6;
    margin-top: 200px;
    margin-left: -240px;
  }
  #legitmsg {
    margin-top: 550px;
    max-width: 350px;
    margin-left: 770px;
  }
  #legitfiles {
    max-width: 400px;
    margin-top: 500px;
    margin-left: 230px;
  }
  #legitblueball {
    max-width: 200px;
    margin-top: 100px;
    margin-left: 900px;
    /* position: absolute; */
  }
  #legitcube {
    max-width: 300px;
    margin-top: -100px;
    margin-left: -70px;
  }
  #adoptionmonitor {
    margin-right: -200px;
  }
  #adoptioncircleone {
    margin-top: 600px;
    margin-left: 200px;
    max-width: 500px;
    max-height: 500px;
    background: rgba(214, 96, 255, 0.11);
  }
  #adoptioncircletwo {
    max-width: 600px;
    max-height: 600px;
    background: rgba(96, 150, 255, 0.11);
    margin-top: -100px;
    /* margin-left: 120px; */
  }
  #adoptiongreencylinder {
    margin-top: -40px;
    margin-left: 700px;
  }
  #adoptionredcylinder {
    margin-top: -140px;
    margin-left: -110px;
  }
  #adoptioncompas {
    max-width: 200px;
    margin-left: -130px;
    margin-top: 400px;
  }
  #adoptionchart {
    margin-top: 400px;
    margin-left: 550px;
  }
  #foundsim {
    margin-top: 90px;
    margin-left: -100px;
  }
  #fundfiles {
    max-width: 500px;
    margin-top: 500px;
    margin-left: -70px;
  }
  #fundyelloball {
    max-width: 500px;
    margin-top: 400px;
    margin-left: -370px;
  }
  #fundcoin {
    max-width: 300px;
    margin-top: 90px;
    margin-left: 520px;
  }
  #foundphone {
    max-width: 400px;
    margin-top: 250px;
    margin-left: 1080px;
  }
  #foundcube {
    max-width: 400px;
    margin-top: -50px;
    margin-left: 1380px;
  }
  #fundingbtn {
    margin-top: -100px;
    margin-bottom: 100px;
  }
  #userexpe {
    margin-left: 95px;
  }
  #usermarker {
    margin-top: -110px;
    margin-left: 520px;
  }
  #userrhand {
    max-width: 280px;
    margin-top: 110px;
    margin-left: 880px;
  }
  #usercube {
    max-width: 280px;
    margin-top: 370px;
    margin-left: 1000px;
  }
  #mistakebluescr {
    margin-right: -180px;
  }
  #mistakemouse {
    margin-top: 600px;
    margin-left: 870px;
  }
  #mistakefont {
    max-width: 300px;
    margin-top: -100px;
    margin-left: 830px;
  }
  #mistakecolor {
    max-width: 300px;
    margin-top: 350px;
    margin-left: -200px;
  }
  #mistakecode {
    max-width: 300px;
    margin-top: -150px;
    margin-left: -140px;
  }
  #lifemarketingscene {
    margin-right: -100px;
  }
  #liferhand {
    margin-top: 600px;
    margin-left: 760px;
  }
  #lifeyball {
    margin-top: 350px;
    margin-left: 1200px;
  }
  #lifemegphone {
    margin-left: -200px;
    margin-top: 600px;
  }
  #lifecbes {
    margin-left: 300px;
    margin-top: 700px;
  }
  #liferocket {
    margin-left: 200px;
  }
  #liferocketsearch {
    max-width: 600px;
    margin-top: 835px;
    margin-left: 260px;
  }
  #liferockettriangle {
    max-width: 400px;
    margin-top: 355px;
    margin-left: 680px;
  }
  #liferocketmsg {
    max-width: 600px;
    margin-top: 680px;
    margin-left: -400px;
  }
  #liferocketcloud1 {
    margin-left: -50px;
    margin-top: 150px;
  }
  #liferocketcloud2 {
    margin-left: 450px;
    /* margin-top: 150px; */
  }
  /* clients life cycle */
  #lifesectionsmain{
    margin-bottom: -1500px;
  }
  #lifemaincontents{
    margin-top: -131px;
    margin-left: -130px;
  }
  #lifeglossy-green {
    min-width: 700px;
    min-height: 700px;
    position: relative;
    top: 120px;
  }
  #lifeglossy-pink {
    min-width: 700px;
    min-height: 700px;
    position: relative;
    top: -600px;
    right: -350px;
  }
  #lifeS3cubepla{
    position: relative;
    top: -700px;
    margin-left: 430px;
  }
  #lifeS3blueball{
    position: relative;
    top: -2000px;
    left: 1300px;
  }
  #lifeyellowdowncube{
    position: relative;
    top: -1600px;
    margin-left: -170px;
  }
  #lifegreen-cube{
    position: relative;
    top: -1100px;
    margin-left: 830px;
  }
  #lifeS3keyboard{
    max-width: 700px;
    position: relative;
    top: -1500px;
    margin-left: 500px;
  }
  #lifeS3shadow{
    right: -550px;
    position: relative;
    top: -1850px;
  }
  #lifeheadings{
    font-size: 100px;
  }
}

#clientspage {
  background-image: url(../img/lifecyclebackground.png);
}

@media only screen and (max-width: 2670px) {
  #awards {
    margin-top: -80px;
  }
  #playbuttons {
    max-width: 200px;
    margin-left: 270px;
  }
  #clientsS3keyboard {
    min-height: 50px;
    max-width: 600px;
    position: absolute;
    top: 850px;
    left: 500px;
  }
  #clietnsmaintext {
    margin-top: -60px;
  }
  #lifebtnlearn {
    position: relative;
    top: -100px;
  }
}

@media only screen and (max-width: 2600px) {
  .clientsText {
    margin-top: 80px;
    margin-left: -180px;
  }
  #S3buisnesspic {
    margin-left: -40px;
  }
  #glossypink {
    min-width: 900px;
  }
  #learnmorebtn {
    position: relative;
    top: -150px;
    margin-right: -130px;
  }
  #exackeys {
    margin-left: -340px;
  }
  #exaccup {
    margin-left: -240px;
  }
  #secretcircle-2 {
    max-width: 100px;
    max-height: 100px;
    margin-top: -200px;
    margin-left: 80px;
  }
  #secretcircle-3 {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-right: -260px;
  }
  #S12cube {
    margin-top: -30px;
    margin-right: -350px;
  }
  #S12code {
    margin-top: 220px;
    margin-right: -440px;
  }
  #S12yellowball {
    margin-left: 100px;
  }
  /* ============================================================================= */
  #portfoliocircle {
    margin-left: -140px;
  }
  #blueballport {
    margin-top: 10px;
    margin-left: -70px;
  }
  #mesg {
    margin-right: -270px;
  }
  #profiles {
    margin-right: -300px;
  }
  #mouseport {
    margin-top: -80px;
  }
  #cubeport {
    margin-right: -490px;
  }
  #leftgo {
    margin-right: -500px;
  }
  #leftback {
    min-width: 1500px;
  }
  #leftgoo {
    min-width: 1500px;
  }
  #leftbackk {
    margin-left: -400px;
  }
  #appsimages {
    height: 1050px;
  }
  #playbuttons {
    max-width: 200px;
    margin-left: 240px;
  }
  /* contact us */
  #contactcircle {
    margin-left: -200px;
  }
  #contactmsg {
    margin-right: -340px;
  }
  #contactplane {
    margin-left: -180px;
  }
  #globeheading {
    font-size: 110px;
  }
  #firstgroupofdev {
    position: relative;
    right: -30px;
  }
  #secgroupofdev {
    position: relative;
    left: -30px;
  }
  #lifebtnlearn {
    margin-top: -1550px;
  }
}

@media only screen and (max-width: 2480px) {
  #exackeys {
    margin-left: -310px;
  }
  #exacmask {
    margin-top: -10px;
  }
  #secretcircle-2 {
    max-width: 100px;
    max-height: 100px;
    margin-top: -160px;
    margin-left: 120px;
  }
  #S12cube {
    margin-top: -30px;
    margin-right: -350px;
  }
  #S12code {
    margin-top: 220px;
    margin-right: -440px;
  }
  #S12yellowball {
    margin-left: 100px;
  }
  #learnmorebtn {
    position: relative;
    top: -250px;
    margin-right: -120px;
  }
  /* ============================================================================= */
  #portfoliocircle {
    margin-left: -100px;
  }
  #profiles {
    margin-right: -250px;
  }
  #cubeport {
    margin-right: -400px;
  }
  #appsimages {
    height: 1000px;
  }
  #gapbtwname {
    margin-top: 30px;
  }
  #playbuttons {
    max-width: 200px;
    margin-left: 200px;
  }
  /* contact us */
  #contactcircle {
    margin-left: -150px;
  }
  #contactmsg {
    margin-right: -300px;
  }
  #contactplane {
    margin-left: -100px;
  }
  #firstgroupofdev {
    position: relative;
    right: -80px;
  }
  #secgroupofdev {
    position: relative;
    left: -80px;
  }
  #lifebtnlearn {
    margin-top: -1470px;
  }
}

@media only screen and (max-width: 2400px) {
  #exackeys {
    margin-left: -270px;
  }
}

@media only screen and (max-width: 2469px) {
  #pushleftcenter {
    margin-top: 330px;
    display: flex;
    align-items: center;
    margin-left: 300px;
  }
  #gaptopof {
    margin-left: 350px;
  }
  #exacfolder {
    position: relative;
    bottom: 100px;
  }
  #exaccup {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 2360px) {
  #firstgroupofdev {
    position: relative;
    right: -80px;
    top: 100px;
  }
  #secgroupofdev {
    position: relative;
    left: -80px;
    top: 100px;
  }
  #pushleftcenter {
    margin-top: 200px;
    display: flex;
    align-items: center;
    margin-left: 250px;
  }
  #backgroundd {
    min-width: 480px;
    margin-top: 20px;
    margin-left: 400px;
  }
  #rocketman {
    margin-top: 20px;
    margin-left: 440px;
    min-width: 670px;
  }
  #mousepic {
    /* margin-top: 160px;
    margin-right: -480px; */
    position: absolute;
    top: 600px;
    right: -550px;
  }
  #flowerpic {
    margin-top: 80px;
    margin-left: 450px;
  }
  #cubepic {
    /* margin-left: 190px;
    margin-top: 160px; */
    position: absolute;
    top: 600px;
    left: 980px;
  }
  #gaptopof {
    margin-left: 300px;
  }
  #lightheading {
    font-size: 120px;
  }
  /* ============================== */
  .clientsText {
    margin-top: 12px;
    margin-left: -330px;
  }
  #S3buisnesspic {
    margin-left: -120px;
  }
  #glossypink {
    min-width: 900px;
  }
  #learnmorebtn {
    position: relative;
    top: -210px;
    margin-right: 20px;
  }
  #S3cubeplay {
    margin-left: -400px;
  }
  #S3cube {
    margin-left: -900px;
  }
  /* ========================================== */
  #exackeys {
    margin-left: -240px;
  }
  #exaccup {
    margin-left: -180px;
  }
  #exacmask {
    margin-top: 1px;
  }
  #secretcircle-1 {
    margin-top: -160px;
    margin-left: 100px;
  }
  #S12cube {
    margin-right: -300px;
  }
  #S12code {
    margin-top: 180px;
    margin-right: -360px;
  }
  #award-title {
    font-size: 25px;
  }
  #firstlogos {
    margin-left: 180px;
    max-width: 600px;
  }
  /* ============================================================================= */
  #portfoliocircle {
    margin-left: -100px;
  }
  #mesg {
    margin-right: -170px;
  }
  #profiles {
    margin-right: -250px;
  }
  #cubeport {
    margin-right: -400px;
  }
  #appsimages {
    height: 980px;
  }
  #clientslovetext {
    margin-top: -180px;
    margin-left: 50px;
  }
  #playbuttons {
    max-width: 200px;
    margin-left: 160px;
  }
  #workmsg {
    margin-bottom: 50px;
  }
  /* contact us */
  #contactcircle {
    margin-left: -120px;
  }
  #contactmsg {
    margin-right: -250px;
  }
  #contactplane {
    margin-left: -80px;
  }
  #contactcup {
    margin-top: 30px;
  }
  /* ========================================================== */
  /* ========================================================== */
  /* ========================================================== */
  /* ===================-----------Services --------------==== */
  /* ========================================================== */
  /* ========================================================== */
  /* ========================================================== */
  #servicesimages {
    margin-top: 70px;
    margin-left: 250px;
  }
  #serviceMcontent {
    margin-top: 150px;
    margin-left: -300px;
  }
  @media only screen and (max-width: 2270px) {
    #pushleftcenter {
      margin-top: 250px;
      display: flex;
      align-items: center;
      margin-left: 230px;
    }
    .clientsText {
      margin-top: 12px;
      margin-left: -430px;
    }
    #S3buisnesspic {
      margin-top: -150px;
      margin-left: -210px;
    }
    #learnmorebtn {
      position: relative;
      top: -210px;
      margin-right: 170px;
    }
    #exackeys {
      margin-top: 150px;
      margin-left: -210px;
    }
    #exaccup {
      margin-left: -130px;
    }
    #exacmask {
      margin-top: 13px;
    }
    #footer {
      margin-top: 100px;
    }
    #backgroundd {
      min-width: 450px;
      margin-top: 60px;
      margin-left: 360px;
    }
    #rocketman {
      margin-left: 380px;
      margin-top: 20px;
      min-width: 700px;
    }
    #mousepic {
      position: absolute;
      top: 620px;
      right: -450px;
    }
    #flowerpic {
      margin-top: 130px;
      margin-left: 370px;
    }
    #cubepic {
      position: absolute;
      top: 620px;
      left: 980px;
    }
    #exacfolder {
      position: relative;
      bottom: 10px;
      right: -120px;
      min-width: 700px;
    }
    #exaccup {
      margin-bottom: 100px;
    }
    #exackeys {
      margin-top: 70px;
      margin-left: -160px;
      min-width: 100px;
    }
    #exaccup {
      max-width: 200px;
      margin-bottom: 20px;
    }
    #exacmask {
      margin-top: -50px;
      margin-left: 10px;
      max-width: 200px;
    }
    /* ============================================================================= */
    #portfoliocircle {
      margin-left: -90px;
    }
    #mesg {
      margin-right: -150px;
    }
    #profiles {
      margin-right: -200px;
    }
    #mouseport {
      margin-top: -30px;
    }
    #cubeport {
      margin-right: -350px;
    }
    #leftgo {
      min-width: 500px;
      margin-right: -400px;
    }
    #leftback {
      min-width: 1300px;
      margin-left: -400px;
    }
    #leftgoo {
      min-width: 1300px;
      margin-right: -400px;
    }
    #leftbackk {
      margin-left: -400px;
      min-width: 500px;
    }
    #appsimages {
      height: 900px;
    }
    #letschatport {
      margin-top: -50px;
    }
    #gapfromrh {
      margin-left: 150px;
    }
    #globeheading {
      font-size: 100px;
    }
    #lifemaincontent {
      margin-top: -900px;
    }
    .processshadow {
      margin-left: 10px;
      max-width: 300px;
      margin-top: 750px;
    }
  }
  @media only screen and (max-width: 2230px) {
    #exackeys {
      margin-left: -120px;
    }
    #copyrights {
      position: relative;
      top: -20px;
    }
    #socialapps {
      margin-top: -70px;
    }
    #clientslovetext {
      margin-top: -180px;
    }
    #firstgroupofdev {
      position: relative;
      right: -110px;
      top: 100px;
    }
    #secgroupofdev {
      position: relative;
      left: -110px;
      top: 100px;
    }
  }
  @media only screen and (max-width: 2190px) {
    #pushleftcenter {
      margin-top: 250px;
      display: flex;
      align-items: center;
      margin-left: 150px;
    }
    .clientsText {
      margin-top: 12px;
      margin-left: -530px;
    }
    #S3buisnesspic {
      margin-top: -150px;
      margin-left: -270px;
    }
    #learnmorebtn {
      position: relative;
      top: -210px;
      margin-right: 240px;
    }
    #exackeys {
      margin-top: 140px;
      margin-left: -170px;
    }
    #exacmask {
      margin-top: -85px;
    }
    #exaccup {
      margin-bottom: 140px;
    }
    #exacfolder {
      position: relative;
      top: -20px;
    }
    #exackeys {
      margin-top: 100px;
      margin-left: -110px;
    }
    #S11cube {
      margin-top: 10px;
      margin-right: -290px;
    }
    #exaccup {
      margin-bottom: 40px;
      margin-left: 40px;
    }
    #footer {
      margin-top: 180px;
    }
    #S12cube {
      margin-right: -290px;
    }
    #hearts {
      max-width: 230px;
      margin-top: 80px;
    }
    #clientsmsg {
      max-width: 300px;
      margin-top: -350px;
      margin-right: -150px;
    }
    #gapbtwname {
      margin-top: -20px;
    }
    #playbuttons {
      max-width: 200px;
      margin-left: 130px;
    }
    /* contact us */
    #contactcircle {
      margin-left: -100px;
    }
    #contactmsg {
      margin-right: -200px;
    }
    #contactplane {
      margin-left: -50px;
    }
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    /* ===================-----------Services --------------==== */
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    #servicesimages {
      margin-top: 70px;
      margin-left: 200px;
    }
    #serviceMcontent {
      margin-top: 150px;
      margin-left: -250px;
    }
    /* process */
    #fundyelloball {
      margin-top: 320px;
      margin-left: -200px;
    }
    #foundcube {
      margin-top: -50px;
      margin-left: 1250px;
    }
  }
  @media only screen and (max-width: 2100px) {
    #pushleftcenter {
      margin-top: 200px;
      display: flex;
      align-items: center;
      margin-left: 100px;
    }
    #logos {
      margin-top: -8px;
    }
    #hearts {
      margin-top: 100px;
      max-width: 200px;
    }
    #portaward {
      margin-top: -7px;
    }
    #aweard-title {
      position: relative;
      top: 30px;
      font-size: 25px;
    }
    #heorocontent {
      margin-left: 200px;
      margin-top: 200px;
    }
    #circle-top1 {
      min-width: 580px;
      min-height: 580px;
    }
    #S1yellowball {
      margin-top: 30px;
      margin-left: 380px;
    }
    #herominiheading {
      font-size: 40px;
    }
    #heroheading {
      font-size: 100px;
    }
    #award-title {
      font-size: 25px;
    }
    #pushleft {
      margin-left: -100px;
    }
    #pushright {
      margin-left: 100px;
    }
    #S2flowerpic {
      min-width: 600px;
    }
    #S2lamppic {
      margin-top: 10px;
      margin-right: 20px;
      min-width: 750px;
    }
    #S2bucketpic {
      position: relative;
      top: -170px;
      margin-bottom: 350px;
      min-width: 350px;
    }
    #heart {
      margin-top: -150px;
      margin-right: 350px;
      min-width: 200px;
    }
    #lightminiheading {
      margin-top: -600px;
      font-size: 35px;
      margin-bottom: 25px;
      margin-right: 260px;
    }
    #lightheading {
      font-size: 100px;
      margin-bottom: 20px;
      margin-right: 200px;
    }
    #lightsubheading {
      font-size: 35px;
      margin-right: 200px;
    }
    .clientsText {
      margin-top: 12px;
      margin-left: -600px;
    }
    #S3turnou {
      margin-left: 70px;
      max-width: 1900px;
      font-size: 30px;
    }
    #learnmorebtn {
      position: relative;
      top: -210px;
      margin-right: 300px;
    }
    #S3cubeplay {
      margin-top: 600px;
      margin-left: -370px;
    }
    #S3cube {
      margin-left: -740px;
    }
    #clientsheading {
      font-size: 90px;
    }
    #exackeys {
      margin-top: 100px;
      margin-left: -40px;
    }
    #exacmask {
      margin-top: -75px;
    }
    #exaccup {
      margin-left: 50px;
      margin-bottom: 80px;
    }
    #exacfolder {
      position: relative;
      top: -50px;
    }
    #S12code {
      margin-top: 150px;
      margin-right: -250px;
    }
    #footer {
      margin-top: 140px;
    }
    #portfoliocircle {
      margin-left: -10px;
    }
    #blueballport {
      margin-left: 30px;
    }
    #mouseport {
      margin-top: -10px;
      margin-left: -150px;
    }
    #mesg {
      margin-top: -40px;
      margin-right: -170px;
    }
    #profiles {
      margin-top: 20px;
      margin-right: -100px;
    }
    #cubeport {
      margin-right: -230px;
    }
    #leftgo {
      min-width: 400px;
      margin-right: -200px;
    }
    #leftback {
      min-width: 1200px;
      margin-left: -300px;
    }
    #appsimages {
      height: 830px;
    }
    #appsimage {
      height: 1140px;
    }
    #leftgoo {
      min-width: 1140px;
      margin-right: -300px;
    }
    #leftbackk {
      margin-left: -300px;
      min-width: 600px;
    }
    #portworkmsg {
      margin-left: -80px;
    }
    #S3keyboard {
      min-width: 600px;
      margin-top: -50px;
    }
    #learnmorebtn {
      position: relative;
      top: -300px;
      max-height: 18px;
      min-height: 18px;
    }
    #clientsloveheart {
      margin-right: -30px;
      margin-top: -250px;
    }
    #clientsmsg {
      margin-right: -180px;
      margin-top: -260px;
    }
    #clientslovetext {
      margin-left: 50px;
    }
    #clientsfirstcircle {
      margin-left: 90px;
    }
    #playbuttons {
      max-width: 200px;
      margin-left: 90px;
    }
    #companieslogoheading, #globeheading, #footercontents {
      font-size: 90px;
    }
    /* contact us */
    #contactcircle {
      margin-left: -70px;
    }
    #contactmsg {
      margin-right: -170px;
    }
    #chatheading {
      font-size: 120px;
    }
    #serviceslaptop {
      min-width: 100px;
    }
    #serviceskeyboard {
      min-width: 100px;
    }
    #servicespot {
      margin-right: 200px;
    }
    #firstgroupofdev {
      position: relative;
      right: -130px;
      top: 100px;
    }
    #secgroupofdev {
      position: relative;
      left: -130px;
      top: 100px;
    }
    #solutionbucket {
      margin-top: 100px;
      margin-right: -200px;
    }
  }
  @media only screen and (max-width: 2050px) {
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    /* ===================-----------Services --------------==== */
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    #servicesimages {
      margin-top: 70px;
      margin-left: 150px;
    }
    #serviceMcontent {
      margin-top: 150px;
      margin-left: -130px;
    }
  }
  @media only screen and (max-width: 2030px) {
    #pushleftcenter {
      margin-top: 200px;
      display: flex;
      align-items: center;
      margin-left: 70px;
    }
    #designyellowball {
      margin-right: -50px;
    }
    #designcube {
      margin-top: 80px;
      margin-left: 100px;
    }
    #portaward {
      margin-top: -8px;
    }
    /* contact us */
    #contactcircle {
      margin-left: -50px;
    }
  }
  @media only screen and (max-width: 2005px) {
    #pushleftcenter {
      display: flex;
      align-items: center;
      margin-left: 40px;
    }
    .clientsText {
      margin-top: 12px;
      margin-left: -630px;
    }
    #learnmorebtn {
      position: relative;
      top: -300px;
      margin-right: 370px;
    }
    #S3turnou {
      margin-left: 100px;
      max-width: 1800px;
      font-size: 20px;
    }
    #exackeys {
      margin-top: 90px;
      margin-left: -40px;
    }
    #exacmask {
      margin-top: -80px;
    }
    #portworkmsg {
      margin-top: 50px;
      margin-left: 40px;
    }
    #portmaincontent {
      margin-top: -70px;
    }
    /* contact us */
    #contactcircle {
      margin-left: -10px;
    }
    #contactplane {
      margin-left: 20px;
    }
    #contactmsg {
      margin-right: -100px;
    }
  }
  @media only screen and (max-width: 1975px) {
    #hearts {
      position: absolute;
      top: -170px;
      max-width: 200px;
    }
    #pushleftcenter {
      margin-top: 150px;
      display: flex;
      align-items: center;
      margin-left: 80px;
    }
    #backgroundd {
      min-width: 190px;
      margin-top: 0px;
      margin-left: 300px;
    }
    #rocketman {
      margin-left: 400px;
      margin-top: 2 0px;
      min-width: 470px;
    }
    #mousepic {
      position: absolute;
      top: 400px;
      right: -250px;
    }
    #flowerpic {
      margin-top: -50px;
      margin-left: 190px;
    }
    #cubepic {
      position: absolute;
      top: 420px;
    }
    #heorocontent {
      margin-left: 200px;
      margin-top: 150px;
    }
    #circle-top1 {
      margin-left: 350px;
      min-width: 400px;
      min-height: 400px;
    }
    #S1yellowball {
      margin-top: 0px;
      margin-left: 390px;
    }
    #S2flowerpic {
      margin-left: -10px;
      margin-top: 120px;
      min-width: 400px;
    }
    #S2lamppic {
      margin-top: 180px;
      margin-right: 250px;
      min-width: 480px;
    }
    #S2bucketpic {
      position: relative;
      top: 20px;
      right: 100px;
      margin-bottom: 350px;
      min-width: 300px;
    }
    #heart {
      margin-top: -80px;
      margin-right: 400px;
      min-width: 120px;
    }
    #hearts {
      margin-top: 50px;
    }
    #lightminiheading {
      margin-top: -400px;
      font-size: 35px;
      margin-bottom: 25px;
      margin-right: 380px;
    }
    #lightheading {
      font-size: 80px;
      margin-bottom: 20px;
      margin-right: 350px;
    }
    #lightsubheading {
      font-size: 35px;
      margin-left: -130px;
    }
    #exackeys {
      margin-top: 90px;
      margin-left: -10px;
    }
    #exacmask {
      margin-left: -10px;
      margin-top: -70px;
    }
    #learnmorebtn {
      min-width: 600px;
      position: relative;
      top: 100px;
      margin-left: -40px;
      padding: 40px 108px;
    }
    #glossygreeen {
      position: relative;
      top: 380px;
      min-width: 700px;
      min-height: 450px;
    }
    #glossypink {
      min-width: 700px;
      min-height: 450px;
      position: relative;
      top: -100px;
    }
    #S3shadow {
      margin-top: -100px;
    }
    #S3cubeplay {
      min-width: 140px;
      margin-top: 1000px;
      margin-left: -280px;
    }
    #S3cube {
      margin-top: 1650px;
      margin-left: -500px;
      min-width: 180px;
      min-height: 180px;
    }
    #S3greencube {
      margin-top: 1670px;
      margin-left: -100px;
    }
    #S3keyboard {
      margin-left: -40px;
      margin-top: -160px;
    }
    #S3blueball {
      position: relative;
      margin-left: 100px;
      min-width: 200px;
      margin-top: 1600px;
      min-height: 200px;
    }
    #clientsheading{
      font-size: 90px
    }
    #mouseport {
      margin-left: 10px;
      margin-top: -0px;
    }
    #mesg {
      margin-right: -110px;
    }
    #blueballport {
      margin-left: 70px;
    }
    #profiles {
      margin-top: -20px;
      margin-right: -80px;
    }
    #cubeport {
      margin-right: -180px;
    }
    #clientyellowball {
      margin-left: -40px;
    }
    #clientcube {
      margin-right: -200px;
    }
    #appsimages {
      height: 800px;
    }
    #gapbtwname {
      margin-top: -60px;
    }
    #playbuttons {
      max-width: 200px;
      margin-left: 60px;
    }
    #footercontents {
      font-size: 80px;
    }
    #workmsg {
      margin-left: 150px;
    }
    #firstgroupofdev {
      position: relative;
      right: -160px;
      top: 180px;
    }
    #secgroupofdev {
      position: relative;
      left: -160px;
      top: 180px;
    }
    #developheading {
      font-size: 90px;
    }
  }

  @media only screen and (max-width: 1930px) {
  #pushright {
    margin-left: -20px;
  }
}
  @media only screen and (max-width: 1890px) {
    #pushleftcenter {
      margin-top: 90px;
      display: flex;
      align-items: center;
      margin-left: 280px;
    }
    #award-title {
      font-size: 20px;
    }
    #logos {
      min-width: 100px;
      margin-top: -10px;
      margin-right: 350px;
    }
    #S2flowerpic {
      margin-left: -10px;
      margin-top: 120px;
      min-width: 400px;
    }
    #S2lamppic {
      margin-top: 180px;
      margin-right: 400px;
      min-width: 480px;
    }
    #lightminiheading {
      margin-top: -400px;
      font-size: 35px;
      margin-bottom: 25px;
      margin-right: 480px;
    }
    #lightheading {
      font-size: 80px;
      margin-bottom: 20px;
      margin-right: 450px;
    }
    #lightsubheading {
      font-size: 35px;
      margin-left: -280px;
    }
    .clientsText {
      margin-top: 1px;
      margin-left: -720px;
    }
    #learnmorebtn {
      position: relative;
      top: -210px;
      margin-right: 480px;
    }
    #S3turnou {
      margin-left: 320px;
      max-width: 1400px;
      font-size: 20px;
    }
    #clientsheading {
      font-size: 70px;
      margin-bottom: -20px;
    }
    #S3buisnesspic {
      margin-left: -350px;
    }
    #globes {
      max-width: 330px;
      max-height: 330px;
    }
    #S3buisnesspic {
      margin-top: -240px;
    }
    #S3blueball {
      margin-top: 190px;
    }
    #learnmorebtn {
      min-width: 500px;
      position: relative;
      top: 120px;
      margin-left: -40px;
      padding: 30px 108px;
    }
    #S3keyboard {
      max-width: 200px;
    }
    #exackeys {
      margin-top: 90px;
      margin-left: 30px;
    }
    #exacmask {
      margin-left: 90px;
      margin-top: -70px;
    }
    #portfoliocircle {
      max-width: 350px;
      max-height: 350px;
      margin-left: 115px;
      margin-top: 150px;
    }
    #portmaincontent {
      margin-top: -200px;
    }
    #mesg {
      max-width: 90px;
      margin-top: 40px;
      margin-right: 10px;
    }
    #cubeport {
      margin-right: -200px;
    }
    #blueballport {
      max-width: 180px;
      max-height: 180px;
      margin-top: 110px;
      margin-left: 140px;
    }
    #profiles {
      margin-right: -0px;
    }
    #companieslogoheading {
      font-size: 80px;
    }
    #companieslogosheading {
      font-size: 110px;
    }
    #globeheading {
      font-size: 80px;
    }
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    /* ===================-----------Services --------------==== */
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    #servicesimages {
      margin-top: 70px;
      margin-left: 100px;
    }
    #serviceMcontent {
      margin-top: 150px;
      margin-left: -80px;
    }
    #lifeyball {
      margin-left: 1100px;
    }
  }
  @media only screen and (max-width: 1850px) {
    #portfoliocircle {
      margin-right: 100px;
    }
    #mouseport {
      margin-top: 20px;
      margin-left: -10px;
    }
    #mesg {
      max-width: 90px;
      margin-top: 40px;
      margin-right: 10px;
    }
    #cubeport {
      margin-right: -200px;
    }
    #leftgo {
      min-width: 300px;
      margin-right: -90px;
    }
    #leftback {
      min-width: 1100px;
      margin-left: -180px;
    }
    #appsimages {
      height: 750px;
    }
    #leftgoo {
      min-width: 1100px;
      margin-right: -180px;
    }
    #leftbackk {
      margin-left: -90px;
      min-width: 300px;
    }
    #subheading {
      font-size: 35px;
    }
    #gapfromrh {
      margin-left: 120px;
    }
    #playbuttons {
      max-width: 200px;
      margin-left: 50px;
      margin-top: 30px;
    }
    #playbutton {
      max-width: 70px;
      max-height: 70px;
    }
    #playiicon {
      margin-bottom: -12px;
      margin-left: 30px;
      max-width: 20px;
    }
    /* clients */
    /* =============================================--------------contact-----================ */
    #contactcircle {
      margin-left: -60px;
    }
    #contacttopheading {
      position: relative;
      top: -80px;
    }
    #contactsend {
      min-width: 150px;
      margin-left: -100px;
      margin-top: -50px;
    }
    #contactcup {
      margin-right: -240px;
    }
    #chatsheader {
      margin-top: 140px;
    }
    #contactplane {
      margin-left: 70px;
    }
    #contactmsg {
      margin-right: -90px;
    }
    #contactcircle {
      margin-left: 39px;
    }
    /* process */
    #fundyelloball {
      margin-top: 250px;
      margin-left: -100px;
    }
    #foundcube {
      margin-top: -50px;
      margin-left: 1150px;
    }
    #lifeS3blueball{
      position: relative;
      top: -2000px;
      left: 1050px;
    }
    #lifeyellowdowncube{
      position: relative;
      top: -1600px;
      margin-left: -10px;
    }
  }
  @media only screen and (max-width: 1808px) {
    #pushright {
      margin-right: 130px;
    }
    #firstgroupofdev {
      position: relative;
      right: -200px;
    }
    #secgroupofdev {
      position: relative;
      left: -200px;
    }
  }
  @media only screen and (max-width: 1795px) {
    #award-title {
      font-size: 19px;
    }
    #S3buisnesspic {
      margin-left: -360px;
    }
    #S3topcontent {
      margin-top: 50px;
    }
    #learnmorebtn {
      min-width: 600px;
      position: relative;
      top: 50px;
      margin-left: -40px;
      padding: 40px 108px;
    }
    #glossygreeen {
      position: relative;
      top: 430px;
      max-width: 580px;
      min-height: 450px;
    }
    #glossypink {
      max-width: 580px;
      min-height: 450px;
      position: relative;
      top: -50px;
    }
    #S3shadow {
      margin-top: -150px;
    }
    #S3cubeplay {
      min-width: 100px;
      margin-top: 1030px;
      margin-left: -200px;
    }
    #S3cube {
      margin-left: -430px;
      min-width: 180px;
      min-height: 180px;
    }
    #S3greencube {
      margin-left: -100px;
    }
    #S3keyboard {
      margin-left: -40px;
      margin-top: -220px;
    }
    #S3blueball {
      margin-top: 1700px;
      margin-left: 100px;
      min-width: 150px;
      min-height: 150px;
    }
    #exackeys {
      min-width: 90px;
      margin-top: 90px;
      margin-left: 50px;
    }
    #exacmask {
      margin-left: 50px;
      margin-top: -70px;
    }
    #exaccup {
      margin-left: 140px;
    }
    #S11cube {
      margin-right: -100px;
    }
    #pushleftcenter {
      margin-left: 240px;
    }
    #portfoliocircle {
      margin-left: 110px;
    }
    #blueballport {
      margin-left: 110px;
    }
    #mouseport {
      margin-top: 20px;
      margin-left: -90px;
    }
    #mesg {
      max-width: 80px;
      margin-top: 50px;
      margin-right: 40px;
    }
    #profiles {
      margin-top: 10px;
      margin-right: 30px;
    }
    #cubeport {
      margin-right: -130px;
    }
    #solutionbucket {
      max-width: 250px;
    }
  }
  @media only screen and (max-width: 1775px) {
    #pushleftcenter {
      margin-top: 80px;
      display: flex;
      align-items: center;
      margin-left: 230px;
    }
    #S2flowerpic {
      margin-left: -100px;
      margin-top: 120px;
      min-width: 400px;
    }
    #S2lamppic {
      margin-top: 180px;
      margin-right: 450px;
      min-width: 480px;
    }
    #lightminiheading {
      margin-top: -400px;
      font-size: 35px;
      margin-bottom: 25px;
      margin-right: 650px;
    }
    #lightheading {
      font-size: 80px;
      margin-bottom: 20px;
      margin-right: 600px;
    }
    #lightsubheading {
      font-size: 35px;
      margin-left: -350px;
    }
    #exacfolder {
      position: relative;
      min-width: 600px;
    }
    #exaccup {
      margin-bottom: 60px;
      margin-left: 200px;
    }
    #exackeys {
      margin-top: 50px;
      margin-left: 80px;
    }
    #exacmask {
      max-width: 170px;
      margin-left: 80px;
    }
    #S12man {
      position: relative;
      left: 100px;
      max-width: 600px;
    }
    #secretcircle-1 {
      margin-top: -80px;
      max-width: 200px;
      max-height: 200px;
      margin-left: 320px;
    }
    #secretcircle-2 {
      max-width: 70px;
      max-height: 70px;
      margin-top: -160px;
      margin-left: 290px;
    }
    #S12yellowball {
      max-width: 120px;
      max-width: 120px;
      margin-left: 370px;
      margin-top: -180px;
    }
    #S12bucket {
      max-width: 300px;
      margin-left: 400px;
    }
    #secretcircle-3 {
      max-width: 120px;
      max-height: 120px;
      margin-top: 10px;
      margin-right: 80px;
    }
    #S12cube {
      margin-right: 30px;
    }
    #S12code {
      max-width: 120px;
      margin-top: 40px;
      margin-right: -50px;
    }
    #secretbtn {
      margin-top: -50px;
    }
    .credit {
      position: relative;
      bottom: 20px;
    }
    #appsimages {
      height: 700px;
    }
    #contactmsg {
      margin-right: -70px;
    }
    #contactplane {
      margin-left: 90px;
    }
    #contactcircle {
      margin-left: 80px;
    }
    #chatheading {
      font-size: 100px;
    }
    #developheading {
      font-size: 80px;
    }
  }
  @media only screen and (max-width: 1720px) {

    .clientsText {
      margin-top: -30px;
      margin-left: -810px;
    }
    #S3buisnesspic {
      margin-left: -400px;
    }
    #learnmorebtn {
      position: relative;
      top: 50px;
      margin-left: -100px;
    }
    #S3keyboard {
      min-width: 500px;
      margin-top: -190px;
    }
    #S3shadow {
      max-width: 150px;
      margin-left: -100px;
      margin-top: -120px;
    }
    #exackeys {
      margin-top: 70px;
      margin-left: 75px;
    }
    #exacmask {
      margin-left: 100px;
      margin-top: -80px;
    }
    #S12code {
      max-width: 120px;
      margin-top: 40px;
      margin-right: -50px;
    }
    #S12man {
      position: relative;
      left: 100px;
      max-width: 550px;
    }
    #secretcircle-1 {
      margin-top: -80px;
      max-width: 200px;
      max-height: 200px;
      margin-left: 320px;
    }
    #secretcircle-2 {
      max-width: 70px;
      max-height: 70px;
      margin-top: -160px;
      margin-left: 290px;
    }
    #S12yellowball {
      max-width: 120px;
      max-width: 120px;
      margin-left: 370px;
      margin-top: -180px;
    }
    #S12bucket {
      max-width: 300px;
      margin-left: 400px;
    }
    #secretcircle-3 {
      max-width: 120px;
      max-height: 120px;
      margin-top: 10px;
      margin-right: 80px;
    }
    #S12cube {
      margin-right: 30px;
    }
    #pushleftcenter {
      margin-left: 200px;
    }
    #mesg {
      margin-right: 90px;
    }
    #profiles {
      margin-right: 90px;
    }
    #appsimages {
      height: 690px;
    }
    #logosofclient {
      margin-left: auto;
      min-width: 1000px;
    }
    #contactmsg {
      margin-right: -30px;
    }
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    /* ===================-----------Services --------------==== */
    /* ========================================================== */
    /* ========================================================== */
    /* ========================================================== */
    #servicesimages {
      margin-top: 70px;
      margin-left: 50px;
    }
    #serviceMcontent {
      margin-top: 150px;
      margin-left: -30px;
    }
  }
  #downloadcircle {
    max-width: 150px;
    max-height: 150px;
    margin-left: -180px;
  }
  /* 1600 */
  @media only screen and (max-width: 1700px) {
    nav li a {
      padding: 0 15px;
      font-family: var(--sub-font);
    }
    nav .active::after {
      background-color: #5956E9;
      content: '';
      display: block;
      height: 2px;
      bottom: -5px;
      position: absolute;
      width: 30px;
      margin-left: 15px;
    }
    #pushleftcenter {
      margin-top: 70px;
      margin-left: 200px;
    }
    #backgroundd {
      min-width: 280px;
      margin-top: 0px;
      margin-left: 300px;
    }
    #rocketman {
      margin-left: 400px;
      margin-top: 20px;
      min-width: 50px;
    }
    #mousepic {
      position: absolute;
      top: 370px;
      right: -200px;
    }
    #flowerpic {
      margin-top: -40px;
      margin-left: 160px;
    }
    #cubepic {
      position: absolute;
      top: 420px;
      left: 980px;
    }
    #heorocontent {
      margin-left: 400px;
      margin-top: 150px;
    }
    #circle-top1 {
      margin-left: 550px;
      min-width: 400px;
      min-height: 400px;
    }
    #S1yellowball {
      margin-top: 0px;
      margin-left: 620px;
    }
    #herominiheading {
      font-size: 30px;
    }
    #heroheading {
      font-size: 70px;
    }
    #award-title {
      font-size: 18px;
    }
    #logos {
      min-width: 300px;
      margin-top: 20px;
    }
    #pushleft {
      margin-left: 90px;
    }
    #pushright {
      margin-left: -500px;
    }
    #S2flowerpic {
      margin-top: 120px;
      min-width: 400px;
    }
    #S2lamppic {
      margin-top: 180px;
      margin-right: 350px;
      min-width: 480px;
    }
    #S2bucketpic {
      position: relative;
      top: 70px;
      right: 100px;
      margin-bottom: 350px;
      min-width: 220px;
    }
    #heart {
      margin-top: -50px;
      margin-right: 470px;
      min-width: 120px;
    }
    #lightminiheading {
      margin-top: -400px;
      font-size: 35px;
      margin-bottom: 25px;
      margin-right: 550px;
    }
    #lightheading {
      font-size: 80px;
      margin-bottom: 20px;
      margin-right: 530px;
    }
    #lightsubheading {
      font-size: 35px;
      margin-left: -330px;
    }
    #S2flowerpic {
      margin-left: -60px;
      margin-top: 70px;
      min-width: 400px;
    }
    #S2lamppic {
      margin-top: 80px;
      margin-right: 450px;
      min-width: 480px;
    }
    #lightminiheading {
      margin-top: -400px;
      font-size: 35px;
      margin-bottom: 25px;
      margin-right: 700px;
    }
    #lightheading {
      font-size: 80px;
      margin-bottom: 20px;
      margin-right: 660px;
    }
    #lightsubheading {
      font-size: 35px;
      margin-left: -510px;
    }
    #S3shadow {
      margin-top: -150px;
    }
    #S3keyboard {
      min-width: 400px;
      margin-left: 20px;
      margin-top: -220px;
    }
    #learnmorebtn {
      position: relative;
      top: 30px;
    }
    #exackeys {
      margin-top: 70px;
      margin-left: 90px;
    }
    #exacmask {
      margin-left: 150px;
      margin-top: -80px;
    }
    #exaccup {
      margin-left: 190px;
    }
    #S11cube {
      margin-top: 70px;
      margin-right: -100px;
    }
    #learnmorebtn {
      margin-right: 450px;
      min-width: 500px;
    }
    #clientsheading {
      margin-right: 60px;
    }
    #S3buisnesspic {
      margin-left: -360px;
    }
    #profiles {
      margin-right: 180px;
      margin-top: 50px;
      max-width: 140px;
    }
    #mouseport {
      margin-left: 50px;
      margin-top: 50px;
    }
    #cubeport {
      max-width: 140px;
      margin-right: 30px;
      margin-top: -50px;
    }
    #keyboardprotfolio {
      position: relative;
      top: -100px;
      min-width: 200px;
      min-height: 20px;
    }
    #aweard-title {
      line-height: 1.8vw;
      font-size: 15px;
    }
    #awards-logos {
      margin-left: 220px;
      max-width: 500px;
    }
    #clientsmsg {
      margin-right: -0px;
      max-width: 230px;
    }
    #clientslovetext {
      max-width: 230px;
      margin-left: 110px;
    }
    #clientsloveheart {
      margin-right: 150px;
      min-width: 150px;
    }
    #clientsfirstcircle {
      margin-left: 60px;
    }
    #clientslove {
      margin-right: 80px;
    }
    #gapbtwname {
      margin-top: -100px;
    }
    #playbuttons {
      max-width: 200px;
      margin-left: 10px;
    }
    #companieslogosheading {
      font-size: 100px;
    }
    #globeheading {
      font-size: 70px;
    }
    #workmeseg {
      margin-left: 200px;
    }
    #lifeyball {
      margin-left: 1000px;
    }
  }
  @media only screen and (max-width: 1640px) {
    #pushleftcenter {
      margin-left: 150px;
    }
    #exackeys {
      margin-top: 70px;
      margin-left: 120px;
    }
    #exacmask {
      margin-left: 158px;
      margin-top: -80px;
    }
    #exaccup {
      margin-left: 190px;
    }
    #portfoliocircle {
      margin-left: 150px;
    }
    #mouseport {
      margin-top: 50px;
      margin-left: 80px;
    }
    #mesg {
      max-width: 70px;
      margin-top: 60px;
      margin-right: 100px;
    }
    #cubeport {
      max-width: 140px;
      margin-right: 0px;
      margin-top: -20px;
    }
    #profiles {
      max-width: 180px;
      margin-top: 40px;
      margin-right: 100px;
    }
    #blueballport {
      margin-left: 150px;
    }
    #leftgo {
      min-width: 200px;
      margin-right: -10px;
    }
    #leftback {
      min-width: 900px;
      margin-left: -70px;
    }
    #appsimages {
      height: 650px;
    }
    #leftgoo {
      min-width: 900px;
      margin-right: -70px;
    }
    #leftbackk {
      margin-left: -10px;
      min-width: 200px;
    }
    #contactplane {
      margin-left: 130px;
    }
    #contactcircle {
      margin-left: 130px;
    }
    /*==================---------- Services=========-----------------================ */
    #serviceMontent {
      margin-top: -100px;
      margin-left: 70px;
    }
    #servicesimages {
      margin-left: -50px;
    }
    #firstgroupofdev {
      position: relative;
      right: -230px;
      top: 200px;
    }
    #secgroupofdev {
      position: relative;
      left: -230px;
      top: 200px;
    }
    #solutionbucket {
      margin-right: -150px;
    }
    #mistakemouse {
      margin-top: 610px;
      margin-left: 800px;
    }
  }
  @media only screen and (max-width: 1600px) {
    #pushleftcenter {
      margin-top: 70px;
      margin-left: 140px;
    }
    #lightheading {
      font-size: 70px;
    }
    #exackeys {
      margin-top: 70px;
      margin-left: 140px;
    }
    #portworkmsg {
      margin-left: 200px;
    }
    #playbuttons {
      max-width: 200px;
      margin-top: 50px;
      margin-left: -20px;
    }
    #contactmsg {
      margin-right: -50px;
    }
    #contactplane {
      margin-left: 190px;
    }
    #contactcircle {
      margin-left: 180px;
    }
    /* process */
    #fundyelloball {
      max-width: 220px;
      max-height: 220px;
      margin-top: 250px;
      margin-left: -40px;
    }
    #foundcube {
      max-width: 250px;
      max-height: 250px;
      margin-top: 50px;
      margin-left: 1250px;
    }
    #pushright {
      margin-left: -570px;
    }
    #S3shadow{
      margin-left: -140px;
    }
    #S3keyboard{
      margin-left: -30px;
    }
    #S3blueball{
      margin-left: 10px;
    }
    #S3cubeplay{
      margin-left: -280px;
    }
  }
  @media only screen and (max-width: 1560px) {
    #glossypink{
      position: relative;
      right: -170px;
    }
  }
    @media only screen and (max-width: 1530px) {
    #pushleftcenter {
      margin-top: 70px;
      margin-left: 100px;
    }
    #exackeys {
      margin-left: 170px;
    }
    #exacmask {
      margin-left: 178px;
      margin-top: -50px;
      max-width: 150px;
    }
    #exaccup {
      margin-left: 190px;
    }
    #portfoliocircle {
      margin-left: 175px;
    }
    #mouseport {
      margin-top: 90px;
    }
    #mesg {
      margin-right: 30px;
    }
    #cubeport {
      margin-right: -50px;
    }
    #profiles {
      margin-right: 30px;
    }
    #blueballport {
      margin-left: 180px;
    }
    #portworkmsg {
      margin-left: 200px;
    }
  }